.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  width: 90%;
  margin: auto;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.order-container {
  background-color: bisque;
  position: sticky;
  top: 0px;
}
